name: build-full

on:
  push:
  schedule:
    - cron: '59 23 * * *'
  workflow_dispatch:


jobs:
  build_full_amd64:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      - 
        name: Get OpenCV version
        id: opencv_version
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: opencv/opencv
      -
        name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./images/full
          file: ./images/full/Dockerfile
          push: true
          repository: herobone/opencv
          platforms: linux/amd64
          tags: herobone/opencv:latest, herobone/opencv:${{ steps.opencv_version.outputs.release }}_full, herobone/opencv:full
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
      -
        # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
        name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
  build_full_arm64:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      - 
        name: Get OpenCV version
        id: opencv_version
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: opencv/opencv
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache-arm64
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./images/full
          file: ./images/full/Dockerfile
          push: true
          repository: herobone/opencv
          platforms: linux/arm64
          tags: herobone/opencv:latest, herobone/opencv:${{ steps.opencv_version.outputs.release }}_full, herobone/opencv:full
          cache-from: type=local,src=/tmp/.buildx-cache-arm64
          cache-to: type=local,dest=/tmp/.buildx-cache-arm64-new
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
      -
        # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
        name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache-arm64
          mv /tmp/.buildx-cache-arm64-new /tmp/.buildx-cache-arm64
  build_full_armv7:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      - 
        name: Get OpenCV version
        id: opencv_version
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: opencv/opencv
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache-armv7
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./images/full
          file: ./images/full/Dockerfile
          push: true
          platforms: linux/arm/v7
          tags: herobone/opencv:latest, herobone/opencv:${{ steps.opencv_version.outputs.release }}_full, herobone/opencv:full
          cache-from: type=local,src=/tmp/.buildx-cache-armv7
          cache-to: type=local,dest=/tmp/.buildx-cache-armv7-new
    -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
    -
        # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
        name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache-armv7
          mv /tmp/.buildx-cache-armv7-new /tmp/.buildx-cache-armv7