name: build-full

on:
  push:
  schedule:
    - cron: '59 23 * * *'
  workflow_dispatch:


jobs:
  build_full_amd64:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      - 
        name: Get OpenCV version
        id: opencv_version
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: opencv/opencv
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./images/full
          file: ./images/full/Dockerfile
          push: true
          repository: herobone/opencv
          platforms: linux/amd64
          tags: latest, ${{ steps.opencv_version.outputs.release }}_full, full
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
  build_full_arm64:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      - 
        name: Get OpenCV version
        id: opencv_version
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: opencv/opencv
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./images/full
          file: ./images/full/Dockerfile
          push: true
          repository: herobone/opencv
          platforms: linux/arm64,linux/arm/v7
          tags: latest, ${{ steps.opencv_version.outputs.release }}_full, full
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
  build_full_armv7:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      - 
        name: Get OpenCV version
        id: opencv_version
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: opencv/opencv
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./images/full
          file: ./images/full/Dockerfile
          push: true
          repository: herobone/opencv
          platforms: linux/arm/v7
          tags: latest, ${{ steps.opencv_version.outputs.release }}_full, full
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}