name: build_full

on:
  push:
  schedule:
    - cron: '59 23 * * *'
  workflow_dispatch:


jobs:
  build_full:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      - 
        name: Get OpenCV version
        id: opencv_version
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: opencv/opencv
      -
         name: Set up QEMU
         uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and Push
        run: |
          docker buildx build --platform linux/amd64,linux/arm64 --push -t herobone/opencv:full -t herobone/opencv:latest -t "herobone/opencv:full-${OPENCV_VERSION}" ./images/full
        env:
          OPENCV_VERSION: ${{ steps.opencv_version.outputs.release }}
